.u-section-1 .u-sheet-1 {
  min-height: 981px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: 614px;
  margin-top: 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 914px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 4px;
}

.u-section-1 .u-text-3 {
  margin: 0 882px 0 26px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 26px;
}

.u-section-1 .u-text-4 {
  margin: -45px 856px 0 110px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 40px 1011px 0 26px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 26px;
}

.u-section-1 .u-text-6 {
  margin: -45px 811px 0 110px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0 26px;
}

.u-section-1 .u-text-7 {
  margin: -45px 890px 0 110px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0 26px;
}

.u-section-1 .u-text-8 {
  margin: -45px 853px 0 110px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0 26px;
}

.u-section-1 .u-text-9 {
  margin: -45px 882px 0 108px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: 40px 862px 0 26px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 26px;
}

.u-section-1 .u-text-11 {
  margin: -45px 803px 0 110px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0 26px;
}

.u-section-1 .u-text-12 {
  margin: -44px 856px 0 110px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 39px auto 0 26px;
}

.u-section-1 .u-text-13 {
  margin: -44px 823px 0 110px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0 26px;
}

.u-section-1 .u-text-14 {
  margin: -45px 856px 0 110px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 414px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 754px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 708px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 756px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 837px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 711px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 790px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 753px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 782px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 688px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 703px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 756px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 723px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 756px;
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 194px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 488px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 546px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 617px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 501px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 580px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 543px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 570px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 468px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 493px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 546px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 513px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 54px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 308px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 437px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 321px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 400px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 363px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 390px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 313px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 333px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 237px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 121px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 163px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 190px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 113px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 133px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 166px;
  }
}